-
  function checkEmptyProp(prop) {
    prop = prop === undefined ? '' : prop
    return prop;
  }

mixin Img(path,type,alt)
  -
    alt = alt !== undefined ? alt : path.split('/')[path.split('/').length - 1].split('.')[0]
    let fileName = path.split('.')[0]
    let ext = ['jxr', 'jp2', 'webp']
  div.img-wrap
    case type
      when 'lazy'
        img(data-src=imgPath + path, class="lazy", alt=alt)
      when 'pic'
        picture
          each pictures,index in ext
            source(
              src=imgPath + fileName + '.' + pictures,
              type=index === 0 ? 'image/vnd.ms-photo': 'image/' + pictures)
          img(src=imgPath + path, alt=alt)
      when 'pic-lazy'
        picture(class='lazy')
          each pictures,index in ext
            source(
              data-srcset=imgPath + fileName + '.' + pictures,
              type=index === 0 ? 'image/vnd.ms-photo': 'image/' + pictures)
          img(data-srcset=imgPath + path, alt=alt)
      when 'locale'
        img(src=imgPath + localeData[locale].img[path], alt=alt)
      when 'locale-js'
        img(data-locale=alt,  alt=alt)
      default
        img(src=imgPath + path, alt=alt)

mixin formItem(type,iD)
  -
    let id = `${iD}__${type}`
    inputData = {
      name: {
        pattern: '[0-9]{4} *[0-9]{4} *[0-9]{4} *[0-9]{4}',
        placeholder: '1234 5678 1234 5678',
        errorMsg: 'данные введены неверно',
        maxlength: '19',
        type: 'text'
      },
      cardNumber: {
        pattern: '[0-9]{4} *[0-9]{4} *[0-9]{4} *[0-9]{4}',
        placeholder: '1234 5678 1234 5678',
        errorMsg: 'данные введены неверно',
        maxlength: '19',
        type: 'text'
      },
      cardDate: {
        pattern: '(?:0[1-9]|1[0-2])/[0-9]{2}',
        placeholder: '11 / 22',
        errorMsg: 'данные введены неверно',
        type: 'text',
        maxlength: '5',
        type: 'text'
      },

      password: {
        pattern: '^[0-9]{3,4}$',
        placeholder: '***',
        errorMsg: 'CVV введен неверно',
        maxlength: '3',
        type: 'password'
      },
      tel: {
        pattern: '',
        placeholder: 'tel placeholder',
        errorMsg: 'tel error',
      },
      mail: {
        pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$',
        placeholder: 'mail placeholder',
        errorMsg: 'mail error',
      },
      textarea: {
        pattern: '',
        placeholder: 'textarea placeholder'
      },
      file: {
        pattern: '',
        placeholder: ''
      },
    }

  if type !== 'textarea'
    label(for=id)
      input(
        id=id,
        form=iD,
        type=inputData[type].type ,
        name=type,
        pattern=inputData[type].pattern,
        placeholder=inputData[type].placeholder,
        autocomplte="off",
        required=type !== 'file',
        maxlength=inputData[type].maxlength
        )
      span.error=inputData[type].errorMsg
  else
    label(for=id)
      textarea(
        id=id,
        form=iD,
        type=type===undefined ? type:inputData[type].type ,
        name=type,
        placeholder=inputData[type].placeholder)

mixin FormGroup(id,items)
  form(id=id, action='')
    each item in items
      +formItem(item,id)
    button(type="submit") Получить деньги

mixin Link(url,text,linkClass,blank,type)
  - linkClass = checkEmptyProp(linkClass)
  case type
    when 'mail'
      a(href='mailto:' + url, class='link ' + linkClass)
        span=text
    when 'phone'
      a(href='tel:' + url, class='link' + linkClass)
        span=text
    default
      a(
        href=url,
        class='link ' + linkClass,
        target=blank !== undefined ? '_blank' : '')
        span=text

mixin LinkImg(path,url,linkClass)
  a(href=url, class=linkClass)
    +Img(path,type)

mixin Button(btnClass,text,type)
  button(class=btnClass, type=type === undefined ? 'button' : type)=text
